# Python and IPython
.venv/
__pycache__/
.egg-info/
.ipynb_checkpoints/

# ROS2
ros/build/
ros/install/
ros/log/

# large data formats
*.h5
*.npz
*.npy
*.pth

# experiment folders
approx_optim/results/*