numpy
matplotlib
scipy
sympy
cvxpy
torch
optnet
cvxpylayers
tqdm
pathos
dacite
cattrs
rootutils
black
pip
notebook
ipykernel
seaborn
pytest

-e external/dmol
-e geo_dyn_unicycle
-e offline_data_gen
-e offline_training